<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="header">
  <div class="logo_box">
    <img src="/common/img/logo.png" class="logo">
    <span class="menu_switch"></span>
  </div>
  <ul class="header_ul">
    <li class="header_li">たしざんの練習
      <ul class="sub_menu_ul">
        <li class="sub_menu_li">ふつうのたしざん</li>
        <li class="sub_menu_li">たしざんをはやくする</li>
        <li class="sub_menu_li">たしざんをいっぱいする</li>
        <li class="sub_menu_li">たしざんを失敗しないようにする</li>
      </ul>
    </li>
    <li class="header_li">ひきざんの練習
      <ul class="sub_menu_ul">
        <li class="sub_menu_li">ふつうのひきざん</li>
        <li class="sub_menu_li">ひきざんをはやくする</li>
        <li class="sub_menu_li">ひきざんをいっぱいする</li>
        <li class="sub_menu_li">ひきざんを失敗しないようにする</li>
      </ul>
    </li>
    <li class="header_li">かけざんの練習</li>
    <li class="header_li">わりざんの練習</li>
    <li class="header_li">ほかのこと</li>
  </ul>
</header>